doctype 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='你访问的页面找不回来了，但是我们可以一起寻找失踪宝贝')
    title 404 - Page Not Found
  body
    script(src='http://www.qq.com/404/search_children.js')
